global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: :443

serversTransport:
  insecureSkipVerify: true

providers:
  file:
    directory: /etc/traefik
    watch: true