---
- hosts: servers
  become: true

  vars:
    root_folder: /opt/grafana
    traefik_cf: false
    traefik_certapi: true
    use_custom_traefik_config: true
    domains:
          - "grafana.local.example.com"
          - "loki.local.example.com"

  tasks:
    - name: Server setup
      include_tasks: ../../global_tasks/server_setup.yml

    - name: Create blank app config folder if it doesn't exist
      file:
        path: "{{ root_folder }}/data"
        state: directory

    - name: Get certs from certapi
      vars:
        api_token: "{{ lookup('env', 'CERTAPI_TOKEN') }}"
      include_tasks: ../../global_tasks/certapi_certbot.yml

    - name: Copy custom traefik http config to folder
      template:
        src: ./templates/traefik-router.yml
        dest: "{{ root_folder }}/traefik-config.yml"

    - name: Copy Loki custom configuration to server
      template:
        src: ./templates/loki-config.yml
        dest: "{{ root_folder }}/loki-config.yml"

    - name: Standard app tasks
      include_tasks: ../../global_tasks/std_app_tasks.yml